@model TopicUpdateViewModel
@{
    ViewBag.Title = "Add new topic";
    var levels = new List<Level>()
        {
            new Level() { Id = 1, Code = "A1", Name = "Beginner"},
            new Level() { Id = 2, Code = "A2", Name = "Pre-Intermediate"},
            new Level() { Id = 3, Code = "B1", Name = "Intermediate"},
            new Level() { Id = 4, Code = "B2", Name = "Upper-Intermediate"},
        };
    var levelsSelectList = new List<SelectListItem>();

    foreach (var level in levels)
    {
        levelsSelectList.Add(new SelectListItem { Text = $"{level.Code}: {level.Name}", Value = level.Id.ToString() });
    }

    var oldLevelId = Model.LevelId;
}

<h2 class="mt-4">Edit topic</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Name" class="form-label control-label mt-3"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LevelId" class="form-label control-label mt-3">Level</label>
        <select class="form-select" asp-for="LevelId" asp-items="@levelsSelectList">
            <option value="">Select level</option>
        </select>
        <span asp-validation-for="LevelId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Content" class="form-label control-label mt-3"></label>
        <input asp-for="Content" class="form-control" />
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    @for (var i = 0; i < Model.Exercises.Count; i++)
    {
        @Html.HiddenFor(model => model.Exercises[i].Id)
        @Html.HiddenFor(model => model.Exercises[i].TopicId)
        @Html.HiddenFor(model => model.Exercises[i].Type)
        @Html.HiddenFor(model => model.Exercises[i].Task)
        @Html.HiddenFor(model => model.Exercises[i].Answer)
    }

    <div class="my-4">
        <button type="submit" class="btn btn-primary">Update topic</button>
    </div>

    @Html.ActionLink("Back to levels", "Index", new { levelId = oldLevelId })
</form>